mat-panel-title, .mat-card-content, .mat-card-header .mat-card-title, .mat-card-subtitle {
    color:#333333;
    font-size:18px !important;
    fill:#333333;
}

.report-body {
padding-right: 0 !important;
}
mat-card {
    text-align: center;
    margin: 0;
    margin-bottom: 15px;

}
mat-button-toogle {
    color: #212529 !important;
}
.reports-row {
    margin-left: 0 !important;
    margin-right: 0 !important;
}
.breadcrumb {
    background-color: #a45121;
}
.breadcrumb-item.active {
    color: #fff;
}
.breadcrumb-dashName {
    padding-top: 15px;
    padding-right: 10px;
    padding-left: 10px;
    align-items: center;
    font-size: 18px;
}
mat-accordion>.mat-expansion-panel-spacing:last-child, .mat-accordion>:last-child:not(.mat-expansion-panel) .mat-expansion-panel-spacing {
    margin-bottom: 10px;
}
/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

@media screen and (min-width: 800px) {
    .sidenav {
        padding-top: 15px;
        padding-left: 10px;
        width: 400px;
        position: fixed;
        z-index: 1;
    }

    .main {
        margin-left: 400px; /* Same width as the sidebar + left position in px */
    }
}

@media screen and (max-width: 800px) {
.sidenav {
    padding-top: 55px;
    padding-left: 30px;
    padding-right: 30px;
}
}
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}