
.navbar .navbar-nav .nav-link {
    color: #fff;
}

.navbar .navbar-brand {
    color: #fff;
}

.navbar a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    font-family: 'GillSans-light';
    /*MISAU*/
    background-color: rgb(39, 102, 150);
    /*END MISAU*/

    /*OOAS*/
    /*background-color: #00792a;*/
    /*END OOAS*/
    padding: 0;
    font-size: 18px;
height: 50px;
}