
<div class="row justify-content-md-center">
  <div class="col-sm-10">
    <mat-card>
      <div class="titlepage">
        <div>
          <div>
            <h1 class="title align-items-center">
              <a name="user_story_waho"></a>SIS-MA Sistema de Informação de Saúde para Monitoria e Avaliação</h1>
          </div>
        </div>
      </div>
      <div class="toc">
        <dl class="toc"><dt><span class="section"><a href="http://saudigitus.org/waho/user_story_waho.html#d0e300"></a></span></dt><dt><span class="section"><a href="http://saudigitus.org/waho/user_story_waho.html#d0e307"></a></span></dt><dt><span class="section"><a href="http://saudigitus.org/waho/user_story_waho.html#d0e312"></a></span></dt><dt><span class="section"><a href="http://saudigitus.org/waho/user_story_waho.html#d0e317"></a></span></dt><dt><span class="section"><a href="http://saudigitus.org/waho/user_story_waho.html#d0e329"></a></span></dt></dl>
      </div>
      <p><span class="bold"><strong>O Sistema de Informação de Saúde de Moçambique para Monitorização e Avaliação (SIS-MA) tem como principal objectivo suportar a recolha, análise, ...</strong></span></p>
      <div class="section">
        <div class="titlepage"></div>
        <!--<p><span class="bold"><strong>UiO and WAHO: An ongoing HIS-strengthening collaboration since 2011</strong></span> UiO has assisted WAHO in building HIS capacity within the organization and in its member states. In 2013, an online regional-->
          <!--data warehouse was set up using DHIS2.</p>-->
        <!--<p>At WAHO, the focus is on aligning data, disease and epidemiological surveillance technology, quality control and improved data standards.</p>-->
      </div><br>
      <div class="screenshot">
        <div class="mediaobject" align="center">
          <table border="0" summary="manufactured viewport for HTML img" style="cellpadding: 0; cellspacing: 0;" width="90%">
            <tbody>
            <tr>
              <td align="left"><img src="assets/img/WAHO_Map.png" align="center" width="90%"></td>
            </tr>
            </tbody>
          </table>
        </div><br></div>
      <div class="section">
        <div class="titlepage"></div>
        <p><span class="bold"><strong>Tackling how to better align our data.</strong></span>The disparity in the size of our member countries is a challenge. Take Nigeria and Gambia as examples of a huge country and a tiny country using DHIS2. Now
          imagine the challenge WAHO teams face when setting up a system to map data levels correctly between such hugely different structures, and consequently in the number and the size of the administrative levels.
        </p>
      </div>
      <div class="section">
        <div class="titlepage"></div>
        <p><span class="bold"><strong>Flexible Integrated Architecture.</strong></span>To address this situation, WAHO has developed a system called “Flexible Integrated Architecture” which groups data across three levels: one national level, and
          two sub-national administrative levels. The aim is to let each country decide which administrative levels in their country correspond to each of these levels in the regional data warehouse. This approach allows for comparison of data
          between countries of different size and with different organizational structures.</p>
      </div>
      <div class="section">
        <div class="titlepage"></div>
        <p><span class="bold"><strong>“What is WAHO looking to do with the data?”</strong></span>This is a question we’re often asked. For a start, we’re collecting data to provide countries with better visibility about outbreaks of epidemics. When
          you hear that there’s been an outbreak of say cholera in a country, you’ve no time to lose. With WAHO-DHIS2, we have a better chance of making decisions fast as we can read data, measure, and assess data, and act accordingly. When
          there’s an outbreak in a border area, there’s a high risk that infections will spread into the neighboring country. This is where the WAHO-DHIS2 technology can be used to share preventive information across several countries.</p>
      </div>
      <div class="section">
        <div class="titlepage"></div>
        <p><span class="bold"><strong>Quality missions to get reliable data. </strong></span>WAHO is actively working with countries to find the right indicators for their specific context. There are currently about 80 essential indicators in the
          regional data warehouse. They cover many areas such as demographics, disease burden, health service utilization, health financing, human resources and epidemic diseases. At the moment it is the epidemiological indicators that are being
          reported by countries, but the plan is to expand with the rest in 2016. There is indeed no one size to fit all and that is why WAHO is taking things on a case-by-case basis; working out which countries would benefit the most from certain
          sets of indicators more than other countries would. In the long run, if we can identify the right data measuring tools for each country, the data we will then collect will be of higher quality, which will drive better decision making.</p>
        <p>The WAHO data warehouse is still in its early days. However, the organization is on the right track to building a solution that will, we all hope, bring unity and cohesion to how data is shared in the ECOWAS region.</p>
      </div>
    </mat-card>
  </div>
</div>
<!-- Button trigger modal -->
