
<div class="row justify-content-md-center">
  <div class="col-sm-10">
    <mat-card>
      <div class="titlepage">
        <div>
          <div>
            <h1 class="title align-items-center">
              <a name="user_story_waho"></a>SIS-MA Sistema de Informação de Saúde para Monitoria e Avaliação</h1>
          </div>
        </div>
      </div>
      <div class="toc">
        <dl class="toc"><dt><span class="section"><a href="http://saudigitus.org/waho/user_story_waho.html#d0e300"></a></span></dt><dt><span class="section"><a href="http://saudigitus.org/waho/user_story_waho.html#d0e307"></a></span></dt><dt><span class="section"><a href="http://saudigitus.org/waho/user_story_waho.html#d0e312"></a></span></dt><dt><span class="section"><a href="http://saudigitus.org/waho/user_story_waho.html#d0e317"></a></span></dt><dt><span class="section"><a href="http://saudigitus.org/waho/user_story_waho.html#d0e329"></a></span></dt></dl>
      </div>
      <p><span class="bold"><strong>
        Plataforma DHIS2, de código aberto flexível baseado na Web que coleta, valida, analisa e apresenta os dados estatísticos agregados, adaptado às actividades de gestão integrada de informação em saúde
      </strong></span></p>
      <div class="section">
        <div class="titlepage"></div>
        <!--<p><span class="bold"><strong>UiO and WAHO: An ongoing HIS-strengthening collaboration since 2011</strong></span> UiO has assisted WAHO in building HIS capacity within the organization and in its member states. In 2013, an online regional-->
          <!--data warehouse was set up using DHIS2.</p>-->
        <!--<p>At WAHO, the focus is on aligning data, disease and epidemiological surveillance technology, quality control and improved data standards.</p>-->
      </div><br>
      <div class="screenshot">
        <div class="mediaobject" align="center">
          <table border="0" summary="manufactured viewport for HTML img" style="cellpadding: 0; cellspacing: 0;" width="90%">
            <tbody>
            <tr>
              <td align="left"><img src="assets/img/SISMA ARqui.png" align="center" width="90%"></td>
            </tr>
            </tbody>
          </table>
        </div><br></div>
      <div class="section">
        <div class="titlepage"></div>
        <p>
          O SIS-MA é uma plataforma de monitoria e avalição baseada no DHIS2, de código aberto flexível baseado na Web que coleta, valida, analisa e apresenta os dados estatísticos agregados, adaptado às actividades de gestão integrada de informação em saúde. Funciona como um sistema online e também intermitente com as seguintes funcionalidades:
        </p>
      </div>
      <div class="section">
        <div class="titlepage"></div>
        <p><span class="bold"><strong>Servidor central</strong></span>
          Os dados são armazenados num servidor centralizado que permite acesso de qualquer dispositivo em qualquer região.
        </p>
      </div>
      <div class="section">
        <div class="titlepage"></div>
        <p><span class="bold"><strong>Dados Agregados</strong></span>
          Permite a recolha de dados através de formulários de dados agregados, que resulta da combinação de varios itens como sexo, idade,etc.
        </p>
      </div>
      <div class="section">
        <div class="titlepage"></div>
        <p><span class="bold"><strong>Dados Individuais</strong></span>
          Permite a captura dos vários eventos que ocorrem durante o processo de atendimento ao paciente com base nos processos individuais dos mesmos.
        </p>
      </div>
    </mat-card>
  </div>
</div>
<!-- Button trigger modal -->
