<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">

  <!--<img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">-->
</div>
<!--<mat-grid-list cols="2">-->
    <!--<mat-grid-tile >-->
<div *ngIf="chartOptions" class="row">
    <div *ngFor="let item of chartOptions; let i=index" class="col-12 col-md-6 col-sm-12 reps"
         id="rep{{i}}" tabindex="-1">
<mat-card class="container">

<highcharts-chart
        [Highcharts]="Highcharts"
        [options]="chartOptions[i]"

        style="width: 100%; height: 400px; display: block; margin: 0 auto"
></highcharts-chart>
  </mat-card>
</div>
</div>
    <!--</mat-grid-tile>-->
<!--</mat-grid-list>-->


        <!--<mat-card class="container">-->
      <!--<highcharts-chart-->
              <!--[Highcharts]="Highcharts"-->
              <!--[constructorType]="'mapChart'"-->
              <!--[options]="chartMap"-->

              <!--style="width: 100%; height: 650px; display: block;"-->
      <!--&gt;</highcharts-chart>-->
        <!--</mat-card>-->

  <!--</div>-->
<!--</div>-->

