
<mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="sidenav" mode="side" opened>
        <mat-form-field>
            <mat-select  (selectionChange)="getData($event.value)" placeholder="Relatorios">
                <mat-option style="width: 100%" *ngFor="let dashboard of dashboards, index as i" [value]="i">
                    {{dashboard.displayName}}
                </mat-option>
            </mat-select>

            <!--<mat-select>-->
                <!--<mat-option value="all" disabled selected>{{ 'filters.allReports' | translate }}</mat-option>-->
                <!--<ng-container *ngFor="let dashboard of dashboards">-->
                    <!--<ng-container *ngIf="dashboard.translations.length > 0; then hasTranslation else noTranslation"> </ng-container>-->

                    <!--<ng-template #hasTranslation >-->
                        <!--<mat-option [value]="dashboard" >{{getRelatorioValueByLocale(dashboard)}}</mat-option>-->
                    <!--</ng-template>-->


                    <!--<ng-template #noTranslation >-->
                        <!--<mat-option  [value]="dashboard">{{dashboard.displayName}}</mat-option>-->
                    <!--</ng-template>-->

                <!--</ng-container>-->
            <!--</mat-select>-->

        </mat-form-field>

    </mat-drawer>
    <!--// Content goes here-->
    <div *ngIf="chartOptions" class="row">
        <button  mat-icon-button (click)="drawer.toggle()">
            <mat-icon>menu</mat-icon>
            Mostrar Filtros
            <!--<span class="navbar-toggler-icon"></span>-->
        </button>
        <h1>{{selectedDashboard[0].displayName}}</h1>
        <div *ngFor="let dashItem of chartOptions; let i=index" class="col-12 col-md-12 col-sm-12 reps"
             id="rep{{i}}" tabindex="-1">

            <mat-card *ngIf="dashItem.renderedType === 'CHART'">
                <mat-card-header>
                    <mat-card-title>{{dashItem.displayName}}</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <highcharts-chart
                            [Highcharts]="Highcharts"
                            [options]="dashItem.chartOpt"

                            style="width: 100%; height: 450px; display: block; margin: 0 auto">

                    </highcharts-chart>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button color="accent" matTooltip="Mostrar como tabela"
                            (click)="changeReportType(i,'REPORT_TABLE')"
                            [disabled]="dashItem.renderedType === 'REPORT_TABLE' || dashItem.type === 'EVENT_REPORT'">
                        TABELA
                    </button>
                    <button mat-button="" color="accent"
                            matTooltip="Mostrar como gráfico de barras"
                            (click)="changeReportType(i, 'CHART')"
                            [disabled]="dashItem.renderedType === 'CHART'">
                        GRAFICO
                    </button>
                    <!-- <button mat-mini-fab color="accent" (click)="changeReportType(i, 'CHART', 'area')" [disabled]="reportList[i].renderedType === 'CHART' && reportList[i].chartType === 'area'"><i class="fas fa-chart-area"></i></button> -->
                    <button mat-button (click)="changeReportType(i, 'MAP')"
                            matTooltip="Mostrar como mapa"
                            [disabled]="dashItem.renderedType === 'MAP'">
                        <mat-icon fontSet="fa" fontIcon="fa-map"></mat-icon>
                        MAPA
                    </button>
                </mat-card-actions>
            </mat-card>

            <mat-card *ngIf="dashItem.renderedType === 'MAP'">
                <mat-card-header>
                    <mat-card-title>{{dashItem.displayName}}</mat-card-title>
                </mat-card-header>
                <!--<text x="306" text-anchor="middle" class="highcharts-title" data-z-index="4" style="color:#333333;font-size:18px;fill:#333333;" y="24"><tspan>{{dashItem.displayName}}</tspan></text>-->
                <mat-card-content>
                    <div class="map-container" style="height: 450px;" id="map{{i}}" class="map"
                         leaflet
                         (leafletMapReady)="onMapReady($event)"
                         [leafletOptions]="dashItem.mapOptions">
                    </div>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button color="accent" matTooltip="Mostrar como tabela"
                            (click)="changeReportType(i,'REPORT_TABLE')"
                            [disabled]="dashItem.renderedType === 'REPORT_TABLE' || dashItem.type === 'EVENT_REPORT'">
                        TABELA
                    </button>
                    <button mat-button="" color="accent"
                            matTooltip="Mostrar como gráfico de barras"
                            (click)="changeReportType(i, 'CHART')"
                            [disabled]="dashItem.renderedType === 'CHART'">
                        GRAFICO
                    </button>
                    <!-- <button mat-mini-fab color="accent" (click)="changeReportType(i, 'CHART', 'area')" [disabled]="reportList[i].renderedType === 'CHART' && reportList[i].chartType === 'area'"><i class="fas fa-chart-area"></i></button> -->
                    <button mat-button (click)="changeReportType(i, 'MAP')"
                            matTooltip="Mostrar como mapa"
                            [disabled]="dashItem.renderedType === 'MAP'">
                        <mat-icon fontSet="fa" fontIcon="fa-map"></mat-icon>
                        MAPA
                    </button>
                </mat-card-actions>
            </mat-card>

            <mat-card *ngIf="dashItem.renderedType === 'REPORT_TABLE'">
                <mat-card-header>
                    <mat-card-title>{{dashItem.displayName}}</mat-card-title>
                </mat-card-header>
                <mat-card-content [style.overflow]="'auto'" [style.height.px]="'450'">
                    <app-pivot-table style="width: 100%; height: 450px; display: block; margin: 0 auto"
                                     [rowsValues] = "dashItem.tableData.rowsValues"
                                     [rowDimensions] = "dashItem.tableData.rowDimensions"
                                     [columnDimensions] = "dashItem.tableData.columnDimensions">

                    </app-pivot-table>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button color="accent" matTooltip="Mostrar como tabela"
                            (click)="changeReportType(i,'REPORT_TABLE')"
                            [disabled]="dashItem.renderedType === 'REPORT_TABLE' || dashItem.type === 'EVENT_REPORT'">
                        TABELA
                    </button>
                    <button mat-button="" color="accent"
                            matTooltip="Mostrar como gráfico de barras"
                            (click)="changeReportType(i, 'CHART')"
                            [disabled]="dashItem.renderedType === 'CHART'">
                        GRAFICO
                    </button>
                    <!-- <button mat-mini-fab color="accent" (click)="changeReportType(i, 'CHART', 'area')" [disabled]="reportList[i].renderedType === 'CHART' && reportList[i].chartType === 'area'"><i class="fas fa-chart-area"></i></button> -->
                    <button mat-button (click)="changeReportType(i, 'MAP')"
                            matTooltip="Mostrar como mapa"
                            [disabled]="dashItem.renderedType === 'MAP'">
                        <mat-icon fontSet="fa" fontIcon="fa-map"></mat-icon>
                        MAPA
                    </button>
                </mat-card-actions>
            </mat-card>
        </div>

    </div>
</mat-drawer-container>


